<div class="container">
    <div class="hv_ci_topseacrchbar col-sm-12">
        <div class="row">
            <div class="col-sm-1">
                <div class='flex justify-content-between'>
                    <div class='hv_ci_top_logo'>
                        <div class="topside"><img class="logo" src="/assets/images/property.png"
                                style="margin-left: 25px;width:50px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>